
</nav>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">

        {% if app.user.admin == 1 %}
            <li class="nav-item">
                <a class="nav-link" href="#">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sites </a>
            </li>

        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('list') }}">Liste des sorties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Nouvelle sortie </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('monProfil') }}">Mon profil</a>
        </li>

        <li class="nav-item">
        <li><a class="nav-link" href="{{ path('logout') }}">Déconnexion</a></li>
        </li>

    </ul>
</nav>