{% extends ('layout.html.twig') %}
{% block title %} | Login {% endblock %}
{% block main %}

    <div class="container">
        <div class="row">

            <div class="col-sm-2">
            </div>

            <div class="col-sm-8">
                <div class="container" style="margin-bottom: 100px">

                    <h1>Se connecter</h1>

                    <form method="post">

                        <div class="form-group">
                            <label for="username">Identifiant ou E-mail :</label>
                            <input type="text" class="form-control" name="_username" id="username">
                        </div>

                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <input type="password" class="form-control" name="_password" id="password">
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="_remember_me">
                            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                        </div>

                        <div class="offset-3 col-6 ">
                            <button type="submit"
                                    class="btn btn-outline-primary btn-block">valider
                            </button>
                        </div>

                    </form>

                </div>
            </div>

            <div class="col-sm-2">
            </div>

        </div>
    </div>

{% endblock %}